%h1 Animal News

%div{"ng-controller" => 'NewsCtrl'}
  %form{"ng-submit" => "addNews()"}
    %h2 Title
    %input{:type=>"text", "ng-model" =>'newEntry.title'}
    %h2 Contents
    %input{:type=>"textarea", "ng-model" =>'newEntry.contents'}
    %p
    %input{:type=>"submit", "value" => "Add"}

  %ul
    %li{"ng-repeat" => "story in stories" }{{story.title}}{{story.contents}}